.display {
  color: white;
  height: 27vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}
.number {
  margin-right: 40px;
  font-size: 60px;
  margin-bottom: 20px;
}
